import { component$ } from '@builder.io/qwik';

export type {{pascalCase name}}Props = {};

export default component$<{{pascalCase name}}Props>(() => {
  return (
    <div>
      <h1>Wongames</h1>
    </div>
  );
});
